<main class="main">
  <div class="landing-page">
    <!-- Logo Section -->
    <div class="logo-section">
      <h1>Quantum Assistant</h1>
      <p>Your guide to design pattern selection.</p>
    </div>

    <!-- Form Section -->
    <div *ngIf="!showResults" class="menu-section" [@flip]="!showResults ? 'form' : 'results'">

      <form (ngSubmit)="findPatterns()">
        <label for="nfr">Non-Functional Requirement:</label>
        <select
          id="nfr"
          name="nfr"
          [(ngModel)]="formData.nonFunctionalRequirement" required>
          <option value="" disabled>Select a requirement</option>
          <option *ngFor="let req of nonFunctionalRequirements" [value]="req.value">
            {{ req.label }}
          </option>
        </select>

        <label for="arch">Architecture Family:</label>
        <select id="arch" name="arch" [(ngModel)]="formData.architectureFamily" required>
          <option value="" disabled>Select an architecture family</option>
          <option *ngFor="let arch of architectureFamilies" [value]="arch.value">
            {{ arch.label }}
        </select>

        <label for="rate">Non-Functional Requirement Rate:</label>
        <input
          type="number"
          id="rate"
          name="rate"
          [(ngModel)]="formData.nonFunctionalRequirementRate"
          min="1"
          required
        />

        <label for="results">Number of Results:</label>
        <input
          type="number"
          id="results"
          name="results"
          [(ngModel)]="formData.numOfResults"
          min="1"
          max="3"
          required
        />

        <button type="submit">Find Patterns</button>
      </form>
    </div>

    <!-- Details Box -->
    <div *ngIf="showBox" class="menu-section-details" [@fadeIn]>
      <h2>Why?</h2>
      <ul>
        <li class="chat-messages"
            *ngFor="let key of objectKeys(results) | paginate: { itemsPerPage: getSize, currentPage: p }">
          <div>
            <h1>{{ key }}:</h1>
            <p>{{ results[key] }}</p>
          </div>
        </li>
      </ul>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <button (click)="reset()">Back</button>
    </div>

    <!-- Results Section -->
    <div *ngIf="showResults" class="menu-section" [@flip]="showResults ? 'results' : 'form'">
      <h2>Results</h2>
      <div>
        <ul>
          <li class="chat-messages" *ngFor="let key of objectKeys(results)">{{ key }}</li>
        </ul>
      </div>
      <button (click)="reset()">Back</button>
    </div>

  </div>
</main>
